<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 20 : CSS connection</title>
    <!-- External-->
    <link rel="stylesheet" href="../assets/CSS/style01.css">
    <!-- Internal-->
    <style>
        p {
            font-family: 'Courier New', Courier, monospace;
            color: orange;
        }
    </style>
    <!-- Class : allow for duplication
        id : unique 
    -->
</head>

<body>

    <h2>K24 - LESSON20: CSS Connection</h2>
    <!-- Inline-->
    <p pid='p1' ; style="color: green;"> Lorem ipsum dolor <strong>sit</strong>, amet consectetur adipisicing elit.
        Vitae, eum adipisci. Quas laborum ex
        eaque assumenda
        ducimus maxime exercitationem, consequatur placeat facere blanditiis! Laboriosam possimus voluptatem deleniti
        ducimus atque? Deserunt.</p>

    <p pid='p2' ;style="color: blue;"> Lorem ipsum dolor <strong>sit</strong>, amet consectetur adipisicing elit. Vitae,
        eum adipisci. Quas laborum ex
        eaque assumenda
        ducimus maxime exercitationem, consequatur placeat facere blanditiis! Laboriosam possimus voluptatem deleniti
        ducimus atque? Deserunt.</p>
    <ul>
        <li>Inline</li>
        <li>Internal</li>
        <li>External</li>
    </ul>
    <hr>

    <h3>CSS Property : Float & Clear </h3>

    <div class="block1 block-xs bg-orange"></div>
    <div class="block2 block-md bg-green mb-8px"></div>
    <hr class="clearfix ">
    <div class="block-container bcl">
        <div class="block-item bg-pink"></div>
        <div class="block-item bg-blue"></div>
        <div class="block-item bg-red"></div>
        <div class="block-item bg-orange"></div>
        <div class="block-item bg-green"></div>

    </div>
    <div class="block-container bcr">
        <div class="block-item bg-pink "></div>
        <div class="block-item bg-blue  "></div>
        <div class="block-item bg-red"></div>
        <div class="block-item bg-orange"></div>
        <div class="block-item bg-green"></div>

    </div>

    <hr class="clearfix ">
    <h3>CSS Property: Padding, Margin, & Boder</h3>

    <div class="wrapper">
        
    </div>

    <p class="coppy ">coppyright @by #dev2030</p>

</body>

</html>