<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LESSON 20: CSS Connection</title>

	<!-- Internal -->
	<style>
		p {
			font-family: Corbel;
			color: orange;
		}
	</style>

	<!-- External -->
	<link rel="stylesheet" href="../assets/css/style01.css">

</head>
<body>

	<h2>K24 - LESSON 20: CSS Connection</h2>

	<hr>

	<!-- 
		Class: allow for duplication 
		Id: unique
	-->

	<!-- Inline -->
	<p class="p1 p11" style="color: green">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p class="p2" style="color: blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h4>CSS Connection Priorities</h2>
	<ul>
		<li>Inline</li>
		<li>Internal | External</li>
	</ul>

	<hr>

	<p id="copy-right">Copyright @by #dev2030</p>

</body>
</html>