<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ex03 - CSS Float Exoticar Header</title>
    <link rel="stylesheet" href="../assets/css/style03.css" />
  </head>
  <body>
    <header id="page-header">
      <div class="logo">
        <img src="../assets/images/exoticar-logo.png" alt="logo" />
      </div>
      <nav>
        <ul class="page-navigation">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Investors</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
