<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LESSON 20: CSS Connection</title>

	<link rel="stylesheet" href="../assets/css/style01.css">

</head>
<body>

	<header id="page-header">
		<h2>K24 - LESSON20 CSS: General Properties</h2>
	</header>

	<hr>

	<p class="text"><span class="text-bold">Lorem1</span> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p class="text"><span class="text-bold">Lorem2</span> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h4>CSS Connection Priorities</h2>
	<ul>
		<li>Inline</li>
		<li>Internal | External</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	</ul>

	<hr>

	<h3>CSS Property: Float & Clear</h3>

	<div class="block1 block-xs bg-orange"></div>

	<div class="block2 block-md bg-green mb-8px"></div>

	<hr class="clearfix">

	<div class="block-container bcl">
		<div class="block-item bg-pink"></div>
		<div class="block-item bg-blue"></div>
		<div class="block-item bg-red"></div>
		<div class="block-item bg-orange"></div>
		<div class="block-item bg-green"></div>
	</div>

	<div class="block-container bcr mb-8px">
		<div class="block-item bg-pink"></div>
		<div class="block-item bg-blue"></div>
		<div class="block-item bg-red"></div>
		<div class="block-item bg-orange"></div>
		<div class="block-item bg-green"></div>
	</div>

	<hr class="clearfix">

	<h3>CSS Property: Padding, Margin & Border</h3>

	<div class="wrapper">
		<div class="block3 bg-pink">
			Block 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</div>

		<div class="block4 bg-green">
			Block 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</div>
	</div>

	<hr>

	<p class="copy">Copyright @by #dev2030</p>

</body>
</html>