<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LESSON 20: CSS Transform Transition</title>

    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/style06.css" />
  </head>
  <body>
    <header id="page-header">
      <h2>K24 - LESSON 20 - CSS TRANSFORM TRANSITION</h2>
    </header>

    <main id="page-main">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <div class="block block-01"></div>

      <div class="block block-02"></div>

      <div class="block block-03"></div>

      <div class="block block-04"></div>
    </main>

    <footer id="page-footer">
      <p class="copy">Copyright @by #dev2030</p>
    </footer>
  </body>
</html>
