<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/airplane.png">
    <title>Ex01 HTML5 Familiar</title>
</head>
<body>
    <h1>H1</h1>
    <h2>H1</h2>
    <h3>H1</h3>
    <h4>H1</h4>
    <h5 style="font-size: 36px;">H1</h5>
    <h6>H1</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione consequuntur veniam minima natus vero similique aut eum, error tenetur ad dolores possimus accusamus repudiandae eos, quas quia quos! Corrupti!</p>
    <img src="../assets/images/airplane.png" alt="">
</body>
</html>