* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

#page-main {
	padding: 90px 0;
}


@font-face {
	font-family: 'Kaushan';
	src: url('../assets/webfonts/KaushanScript-Regular.otf') format('opentype');
}

#page-header {
	background: greenyellow;
	height: 66px;

	position: fixed;
	width: 100%;

	h2 {
		line-height: 66px;
		margin: 0;
		padding: 0;
	}
}

.text {
	font-family: Kaushan, sans-serif;
}

.bg-pink {
	background: pink;
}

.bg-blue {
	background: blue;
}

.bg-red {
	background: red;
}

.bg-orange {
	background: orange;
}

.bg-green {
	background: green;
}

.clearfix {
	clear: both;
}